*{
    margin: 0;
}

main {
    margin-left: 20px;
    margin-right: 20px;
}


header{
    background-color: orange;
    border-bottom: 2px solid brown;
    font-size: 60px;
    color: white;
    text-shadow: 2px 2px 2px black;
    margin: 0;
    height: 180px;
}

.navigation a{
    color: white;
    background-color: orangered;
    text-decoration: none;
    text-align: center;
    padding: 15px;
    display: block;
}

.navigation ul{
    background-color: orangered;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navigation a:hover{
    background-color: brown;
}

.navigation li{
    float: left;
}



h1#filo{
    background-color: rgb(112, 219, 233);
    color: white;
    border: 5px solid rgb(228, 228, 148);
    margin-right: 420px;    
}

footer{
    color: white;
    background-color: orange;
    border: ;
}